#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:

# ОТКЛЮЧАЕМ проблемные шаги для бинарных файлов
override_dh_strip:
override_dh_dwz:

override_dh_install:
	mkdir -p debian/web-check/usr/share/web-check
	mkdir -p debian/web-check/usr/bin
	find . -maxdepth 1 ! -name 'debian' ! -name '.' -exec cp -r {} debian/web-check/usr/share/web-check/ \;
