#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_install:

override_dh_install:
	mkdir -p debian/web-check/usr/share/web-check
	mkdir -p debian/web-check/usr/bin
	# Копируем исходники кроме папки debian
	find . -maxdepth 1 ! -name 'debian' ! -name '.' -exec cp -r {} debian/web-check/usr/share/web-check/ \;
